.user-page-bg {
  background: black;
  display: flex;
}

.user-details {
  background: rgba(87, 70, 234, 1);
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 50px;
  height: 70vh;
  width: 1000px;
}

.user-details img {
  /* width: 100%; */
  margin: 1rem;
}

.user-details #useravatar {
  width: 230px;
}

.user-page-layout {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* margin: 1rem; */
  padding: 1rem;
}

.user-info {
  color: white;
  margin: 5rem;
}

#username,
#name,
#email {
  font-size: 1.5rem;
}

.movie-categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
}

.movie-categories div {
  /* background: #e2e8f0; */
  background: rgb(255, 255, 255, 0.1);
  /* opacity: 0.5; */
  margin: 0.5rem;
  border-radius: 50px;
}
.movie-categories div p {
  text-align: center;
}

/* .weather-section div {
  border-radius-top: 50px;
} */

.weather-info {
  margin: 20px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  background: rgba(255, 74, 222, 1);
  justify-content: space-around;
  color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 1000px;
}

.weather-info p {
  font-size: 2rem;
}

.weather-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(16, 23, 68, 1);
  color: white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 1000px;
}

hr {
  margin: 0;

  height: 50px;
  margin-top: 5%;
}

.nature {
  /* margin: 1rem; */

  padding: 1rem;
  color: white;
}

.nature img {
  width: 100%;
  height: 70vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.nature-short-info {
  text-align: center;
  position: absolute;
  top: 395px;
  background: rgba(0, 0, 0, 0.5);
  /* opacity: 0.5; */
  width: 435px;
}

.date-time-in-nature {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.date-time-in-nature hr {
  height: 10px;
}

.nature-info {
  background: white;
  color: black;
  height: 49vh;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.nature-info p {
  margin: 0;
  padding: 2.5rem;
}
