.movies-section {
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 36px 20px 0px 20px;
}

header div p {
  color: rgba(114, 219, 115, 1);
  font-size: 1.5rem;
}

#Entertainment-text {
  margin: 0px 20px 0px 20px;
}

.movie-posters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}

.movie-posters div img {
  width: 100%;
}
