/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Andika&family=Catamaran:wght@400;500&family=Inter:wght@300&family=Kaushan+Script&family=Labrada:wght@300&family=Lato:wght@300;400&family=Montserrat:wght@200;300&family=Open+Sans:wght@300;400;500&family=PT+Sans&family=Poppins&family=Raleway:ital,wght@0,300;0,500;0,600;1,300&family=Tangerine:wght@400;700&family=Ubuntu:wght@300&family=Vollkorn&family=Work+Sans&display=swap");

.loginpage {
  display: flex;
}

.loginpage img {
  max-width: 100%;
}

#textonconcert {
  position: absolute;
  top: 80vh;
  color: white;
  font-size: xx-large;
  right: 70%;
  left: 10%;
}

.loginpage {
  /* align-items: center; */
  color: white;
  text-align: center;
  background: black;
}

#superapp {
  color: #72db73;
  font-size: xx-large;
  /* font-style: italic; */
  /* font-family: "Alumni Sans Pinstripe", sans-serif; */
  /* font-family: "Andika", sans-serif;
  font-family: "Catamaran", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Kaushan Script", cursive;
  font-family: "Labrada", serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;*/

  font-family: "Poppins", sans-serif;
  /*font-family: "PT Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Tangerine", cursive;
  font-family: "Ubuntu", sans-serif;
  font-family: "Vollkorn", serif;
  font-family: "Work Sans", sans-serif; */
}

.login-inputs {
  display: flex;
  justify-content: center;
  text-align: center;
}
.login-inputs input {
  padding: 0.75rem;
  margin: 1rem;
  width: 50%;
  background: #292929;
  border: none;
}

.login-inputs button {
  width: 50%;
  padding: 1rem;
  background: #72db73;
  color: white;
  border-radius: 50px;
  border: none;
}

#registration {
  width: initial !important;
  /* align-items: self-start;
  flex-direction: row; */
  color: white;
  /* display: flex; */
}

#termandconditions {
  color: #72db73;
}

#privacypolicy {
  color: #72db73;
}

.tc p {
  /* width: 500px; */

  /* display: flex;
  justify-content: center;
  text-align: center;
  width: 50%; */
  width: 50%;
  margin: 0.5rem auto;
  padding: 0.75rem;
  text-align: center;
}

.error {
  /* display: flex;
  flex-direction: column;
  text-align: center; */
  display: block;
  margin-right: 11rem;
  color: red;
}
